.headerDeleteIcon{
    font-size:6.5vw;
    margin-right: 5vw !important
}

.transactionForm{
    padding: 5vw;
    display: flex;
    flex-direction: column;
    gap:4vw;
}

.transactionDetails{
    padding: 5vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:7vw 0;
}

.transactionDesc{
    grid-column: 1/3;
}

.transactionFormLabel{
    font-size:5vw;
    font-weight: 500;
}

.transactionFormInput,
.transactionFormSelect,
.transactionFormTextarea {
    padding:2vw !important;
    border: 0.1vw solid var(--ion-color-dark);
    border-radius: 1vw;
    height:10vw;
}

.transactionFormInput, .transactionFormTextarea{
   --padding-top:0;
   --padding-bottom:0;
   --padding-start:0;
}

.transactionDetail{
    font-size:5vw;
}