.loginContainer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height:100%;
}

.loginButton{
    margin-top: 4.5vw !important;
    font-size: 4.5vw;
    height:10vw
}

.appImage{
    width:20vw;
    height:auto;
}

.signupText{
    margin-top: 3vw !important;
}